/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}

/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Century Gothic";
    color: #fff;
    background: #000000;
    text-transform: uppercase;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: "LavenderBlush";
    color: "Black";
}
/*Style for dropdown links*/
li:hover ul a {
    background: "LavenderBlush";
    color: "Black";
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #000000;
    color: #"LavenderBlush";
}

/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}


p {
  position: relative;
  background-color: "LavenderBlush";
}
